<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>602703490599-8abujd2v5dssp9cr11i5m8unc78q8660.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.602703490599-8abujd2v5dssp9cr11i5m8unc78q8660</string>
	<key>API_KEY</key>
	<string>AIzaSyCTyH5VOtUMK_J5dgOruigSKCIHkVAhePc</string>
	<key>GCM_SENDER_ID</key>
	<string>602703490599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seosh.SfotifyLoginSampleApp</string>
	<key>PROJECT_ID</key>
	<string>spotify-style-login-samp-f1e56</string>
	<key>STORAGE_BUCKET</key>
	<string>spotify-style-login-samp-f1e56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602703490599:ios:64c4e6d0e534af110d6802</string>
</dict>
</plist>